<%- include("partials/header.ejs") %>

<div class="container rp">
    <div>
        <h3><%= meal.strMeal %></h3>

        <h4>Let's Get it Done😋</h4>
    </div>

    <hr>

    <div class="container mb-5">
        <div class="card" style="width: 18rem;">
            <div class="card-header">Ingredients</div>
            <ul class="list-group list-group-flush"> 
                <% ingridents.forEach(function(item){ %>
                    <li class="list-group-item"><%= item %></li>  
                <% }); %>
            </ul>
        </div>
    </div>

</div>

<%- include("partials/footer.ejs")  %>
